<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/pkg/pic/chun.ico">
    <link rel="stylesheet" href="/pkg/css/mahjong.css">
    <title>無限天和 無限配牌</title>
</head>
<body class="vue">
    <div id="app">
        <div class="cCount">
            <p id="count">0</p>
        </div>
        <br>
        <div class="balloon1-top">
            <p>実行回数</p>
        </div>
        <div class="win" v-if="agari" >
            <a href="/vue"><img src="/pkg/pic/yakuman.png"></a>
        </div>

        <div class="tehai">
            <img v-for="(hai, index) in tehai" v-bind:src="`/pkg/pic/${hai.pic}`" v-on:click="change(index)">
        </div>
        <div>
            <button v-on:click="startGame" class="_button">自動配牌</button>
            <button v-on:click="cancelGame" class="_button">キャンセル</button>
            <button v-on:click="rihai" class="_button">理牌</button>
            <br>
            <button v-on:click="start1Game">配牌(自分で一回だけ)</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/pkg/js/mahjong.js"></script>
    <script src="/pkg/js/main.js"></script>
</body>
</html>

